<p id="notice"><%= notice %></p>

<h1>Arms</h1>

<%= link_to 'New Arm', new_arm_path, class: 'btn btn-primary' %>


<table  class="table table-responsive table-striped">
  <thead>
    <tr>
      <th>Srlnum</th>
      <th>Armname</th>
      <th>Armtype</th>
      <th>Quantity</th>
      <th>Serviceability</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arms.each do |arm| %>
      <tr>
        <td><%= arm.srlnum %></td>
        <td><%= arm.armname %></td>
        <td><%= arm.armtype %></td>
        <td><%= arm.quantity %></td>
        <td><%= arm.serviceability %></td>
        <td><%= link_to 'Show', arm, class: 'btn btn-outline-info'%></td>
        <td><%= link_to 'Edit', edit_arm_path(arm), class: 'btn btn-outline-success' %></td>
        <td><%= link_to 'Delete', arm, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

